
<div class="form">
  <h1>Here's the bookmark page!</h1>
  <%= render "form_bookmark", bookmark: @bookmark %>
  <div class="back-btn form-btn">
    <%= render "lists/back_bookmark_btn" %>
  </div>
</div>
