// Specific CSS for your home-page
@import "../config/mixins";

@import "../config/variables";

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto;
  width: 800px;
}

.list {
  margin: 10px 15px;
  background-color: $listBackground;
  border-radius: 5px;
  border: 1px solid #00000026;
  @include boxShadow;
  width: 200px;
  height: 300px;
}
